﻿.inhoadon {
    width: 100%;
    font-family: "Times New Roman";
    font-size: 12pt;
    text-align: left;
    font-weight: normal;
    background-color: #ffffff;
    padding: 0px;
    border: 0px solid #cccccc;

}

.inhoadon table {
    border: 0px;
}

.inhoadon .tencongty {
    font-weight: bold;
}

.inhoadon .diachi {}

.inhoadon .dienthoai {}

.inhoadon .title {
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #000000;
}

.inhoadon #title1 {
    font-weight: bold;
}

.inhoadon .mahd {}

.inhoadon .nhanvien {}

.inhoadon .chitiet {
    padding: 5px 0px;
}

.inhoadon .chitiet1 {}

.inhoadon #tblchitiet {
    border: 0px;
    border-bottom: 1px solid black;
    width: 99%;
    text-align: left
}

.inhoadon #tblchitiet td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-style: normal;
    font-weight: normal;
    padding: 2px 3px 2px 5px;
}

.inhoadon #tblchitiet .col_tt {}

.inhoadon #tblchitiet .col_hh {}

.inhoadon #tblchitiet .col_sl {
    text-align: right;
}

.inhoadon #tblchitiet .col_dg {
    text-align: right;
}

.inhoadon #tblchitiet .col_ttien {
    border-right: 1px solid black;
    text-align: right;
}

.inhoadon .tongtien {
    float: left;
}

.inhoadon .vat {
    float: left;
}

.inhoadon .ck {
    width: 100%;
    float: left;
}

.inhoadon .phaithanhtoan {
    width: 100%;
    float: left;
    border-top: 1px dotted #000000;
}

.inhoadon .khachthanhtoan {
    float: left;
    border-top: 1px dotted #000000;
    border-bottom: 1px solid #000000;
}

.inhoadon .tralaikhach {
    float: left;
    border-top: 1px dotted #000000;
    border-bottom: 1px solid #000000;
}

.inhoadon .ghichu {
    padding-top: 5px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 8pt;
    font-family: Times New Roman;
    font-style: italic;
}


/* IN HOA DON XUAT BAN BUON */
.inhoadon_xuatbanbuon {
    width: 100%;
    font-family: Times New Roman;
    font-size: 9pt;
    text-align: left;

    background-color: #ffffff;
    padding: 0px;
    border: 0px solid #cccccc;

}

.inhoadon_xuatbanbuon table {
    border: 0px;
}

.inhoadon_xuatbanbuon .tencongty {
    font-weight: bold;
    float: left;
}

.inhoadon_xuatbanbuon .diachi {
    float: left;
    width: 100%;
    padding-left: 55px;
}

.inhoadon_xuatbanbuon .dienthoai {
    float: left;
    width: 100%;
}

.inhoadon_xuatbanbuon .title {
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.inhoadon_xuatbanbuon #title1 {
    font-weight: bold;
}

.inhoadon_xuatbanbuon .mahd {
    float: right;
    font-style: italic;
}

.inhoadon_xuatbanbuon .ngay {
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.inhoadon_xuatbanbuon .nhanvien {}

.inhoadon_xuatbanbuon .kh_ten {
    float: left;
    width: 50%;
}

.inhoadon_xuatbanbuon .hinhthucthanhtoan {
    float: right;
    width: 50%;
}

.inhoadon_xuatbanbuon .kh_dc {
    float: left;
    width: 50%;
}

.inhoadon_xuatbanbuon .kh_tel {}

.inhoadon_xuatbanbuon .tiente {
    float: right;
    width: 50%;
}

.inhoadon_xuatbanbuon .chitiet {
    padding: 5px 0px;
}

.inhoadon_xuatbanbuon .chitiet1 {}

.inhoadon_xuatbanbuon #tblchitiet {
    border: 0px;
    border-bottom: 1px solid black;
    width: 99%;
    text-align: left
}

.inhoadon_xuatbanbuon #tblchitiet td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-style: normal;
    padding: 2px 3px 2px 5px;
}

.inhoadon_xuatbanbuon #tblchitiet .col_tt {
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_ma {
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_ten {
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_dv {
    font-weight: normal;
    text-align: center;
}

.inhoadon_xuatbanbuon #tblchitiet .col_sl {
    text-align: right;
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_dg {
    text-align: right;
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_ttien {
    text-align: right;
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_ck_pt {
    text-align: center;
    font-weight: normal;
}

.inhoadon_xuatbanbuon #tblchitiet .col_ck_tt {
    border-right: 1px solid black;
    font-weight: bold
}

.inhoadon_xuatbanbuon .footer {}

.inhoadon_xuatbanbuon .footer .col1 {
    font-weight: bold;
    text-align: right;
}

.inhoadon_xuatbanbuon .footer .col1_1 {
    font-weight: bold;
    text-align: left;
}

.inhoadon_xuatbanbuon .footer .col2 {
    font-weight: bold;
    text-align: left;
    border-right: 1px solid black;
}

.inhoadon_xuatbanbuon .tongtien {
    float: left;
}

.inhoadon_xuatbanbuon .vat {
    float: left;
}

.inhoadon_xuatbanbuon .ck {
    float: left;
}

.inhoadon_xuatbanbuon .phaithanhtoan {
    float: left;
}

.inhoadon_xuatbanbuon .khachthanhtoan {
    float: left;
}

.inhoadon_xuatbanbuon .tralaikhach {
    float: left;
}

.logo_congty {
    width: 70px;
    padding: 0px 5px 0px 0px;
    position: absolute;
    top: 20px;
    left: 10px;

}

.logo_congty img {
    height: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    font-size: 14px;
    page-break-before: always;
    page-break-after: always;
    font-family: Calibri;
    width: 21cm;
    min-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px, 0, 0, 0;
}

.subpage {
    page-break-inside: avoid;
    padding: 10px;
    /* margin: 1cm auto; */
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        page-break-before: always;
        page-break-after: always;
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    h1 {
        page-break-before: always;
    }
}

.receviver {
    float: left;
    border: 1px solid black;
    margin-top: 3px;
    width: 50%;
    padding: 5px;
    text-align: left;
}

.receviver div {
    padding-top: 3px
}

.sender {
    float: right;
    border: 1px solid black;
    margin-top: 3px;
    width: 49%;
    padding: 5px;
    text-align: left;
}

.sender div {
    padding-top: 3px
}

.head {
    padding: 5px;
    font-size: 35px;
    font-family: calibri;
    font-weight: bold;
}

.a {
    font-size: 17px;
    font-weight: normal;
}

.recevier {
    margin-left: 167px;
    margin-top: 30px;
    font-size: 22px;
}

.add {
    margin-left: 167px;
    margin-top: 10px;
    font-size: 22px;
}

.hienmavach {
    font-family: "3 of 9 Barcode";
    font-size: 40pt;
    font-weight: normal;
}
