.loading{
    position:fixed;
    width:100%;
    height:100%;
    z-index:9999;
    display:block;
    background:rgba(0,0,0,0.7);
    top:0;
    left:0;
}
.loading-inner{
    background-image: url('../images/loading-image.gif');
    position:fixed;
    top:50%;
    left:50%;
    text-align:center;
    margin-left:-25px;
    margin-top:-40px;
    width: 48px;
    height: 48px;
}