﻿table {
    width:98%;

}
.center
{
    float: center;
    text-align: center;
}
.total_center
{
    float: center;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}
.info {
    border:1px solid black;
    min-height:80px;
    background:#F1F1F1;
    margin-top:5px;
}
.footer {
    border:1px solid black;
    font-size: 14pt;
    font-family:  Calibri;
    font-weight: bold;
}
.sender
{
    border-right: 1px solid black;
}
.total {
    background:#F1F1F1;
}
.title {
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}
.stick
{
    width:15px;
    height:15px;
    border: 4px solid black;
}
.head {
    padding: 5px;
    font-size: 16px;
    font-family: calibri;
    font-weight: bold;
}
.head .right {
    float: right;;
    text-align:right;
    font-size:12pt;
}
.head .left {
    float: left;;
    text-align:left;
    font-size: 17px;
}
.label_center {
    font-size:9pt;
    font-family:calibri;
    font-weight: bold;
    text-align: center;
}
div b {
    text-align: center;
  }


.logo_congty {
    width: 70px;
    padding: 0px 5px 0px 0px;
    position: absolute;
    top: 20px;
    left: 10px;

}

.logo_congty img {
    height: 50px;
}
.recevier {
    margin-left: 167px;
    margin-top: 30px;
    font-size: 22px;
}
.receviver {
    float: left;
    border: 1px solid black;
    margin-top: 3px;
    width: 50%;
    padding: 5px;
    text-align: left;
}

.receviver div {
    padding-top: 3px
}

.sender {
    float: right;
    border: 1px solid black;
    margin-top: 3px;
    width: 49%;
    padding: 5px;
    text-align: left;
}

.sender div {
    padding-top: 3px
}
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    font-size: 14px;
    page-break-before: always;
    page-break-after: always;
    font-family: Calibri;
    width: 21cm;
    min-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px, 0, 0, 0;
}

.subpage {
    page-break-inside: avoid;
    padding: 10px;
    /* margin: 1cm auto; */
}

@page {
    size: A4;
    margin: 0;
}

@media print {
      .page {
        page-break-before: always;
        page-break-after: always;
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        /* size: landscape; */
    }

    h1 {
        page-break-before: always;
    }

}
