section#content{
	padding-top:0px;
}
.agency-content{
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    padding: 10px 40px;
}
.agency-content h3{
    display: block;
    float: left;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    position: relative;
    margin: 0px;
}
.agency-content-item{
    display: block;
    float: left;
    width: 100%;
    margin-top: 15px;
}
.agency-content-item span{
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.agency-content h3 .icon{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: -30px;
}
.agency-content h3 .icon .fa{
    text-align: center;
    line-height: 20px;
    color: #dddddd;
    padding: 0px 0px 0px 4px;
}