section#content{
	padding-top:0px;
}
.product .product-item {
    margin: 20px 0px 30px 0px;
    text-align: center;
    padding: 0px 15px;
    position: relative;
}

.border-rb {
    border: 1px solid #f1f1f1;
}

.product .product-item a img {
    width: 80%;
    height: 320px;
    margin-top:15px;
    margin-bottom:15px;
}

.product .product-item .product-name {
    margin: 0px;
    padding: 15px 14px;
    width: 100%;
    background: #81c242 none repeat scroll 0 0;
    font-weight: 600;
    font-size: 16px;
    height: 65px;
    text-overflow: ellipsis;
}

.product-item .product-name a {
	color:#ffffff;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
}

.product-item .product-name a:hover{
	text-decoration:underline;
}

.product-item-content{
	border: 1px solid #d7d9d9;
	padding: 15px;
}
.product-image{
	position: relative;
    width: 100%;
    display: block;
    float: left;
}

.product-image img{
	display:inline-block;
	float: left;
	width:100%;
}

.product-sale{
	position:absolute;
    font-size: x-large;
	left:0px;
	top:0px;
	padding:2px 8px;
	background-color:#028a0f;
	color:#ffffff;
	border-radius: 2px;
}

.product-title{
	display: block;
    float: left;
    width: 100%;
    text-align: center;
    color: #414042;
    margin: 15px 0px;
    height: 35px;
}
.product-price{
	float: left;
    width: 100%;
	padding: 0px 45px;
	margin-bottom:10px;
}
.sale-price{
	display:block;
	color:#ed1c24;
}

.origin-price{
	/* display:block; */
	float:left;
	color:#939598;
	text-decoration: line-through;
}

.product-item-content .shopping-cart{
	display: block;
    float: left;
    width: 100%;
    line-height: 36px;
    height: 36px;
    color: #ffffff;
    background-color: #ff424e;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.product-item-content .shopping-cart .fa{
	font-size:20px;
}

div.gold.news {
    border: 1px solid #ccc;
}

.content .gold {
    border-radius: 4px;
    margin-bottom: 15px;
    background: none repeat scroll 0 0 #fff;
    overflow: hidden;
}

.content .title h3 {
    background: url(../../images/home/bt.jpg) no-repeat scroll 0 bottom rgba(0,0,0,0);
    color: #1a3e71;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
	height: 32px;
    padding: 0 10px 8px 10px;
    line-height: 32px;
}

.dmsanpham {
    overflow: hidden;
}

.dmsanpham ul {
    padding: 0;
	margin: 0;
}

.dmsanpham ul li {
    border-radius: 2px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    height: 34px;
    line-height: 31px;
    list-style: outside none none;
    margin-bottom: 2px;
    overflow: hidden;
    padding-left: 25px;
    text-transform: uppercase;
    background-color: #ddd;
    position: relative;
}

.dmsanpham ul li a {
    color: #333;
    display: block;
    text-decoration: none;
}
.dmsanpham ul li:hover{
    background-color:#ececec
}

.dmsanpham ul li a .fa {
    margin-right: 5px;
}

ul.news li:first-child {
    border-top: 0;
}

ul.news li {
    border-top: 1px solid #ccc;
    list-style: none outside none;
    padding: 5px 5px 10px 5px;
}

ul.news li a.aimg {
    display: block;
}

ul.news li a {
    color: #000;
    font-weight: normal;
}

ul.news li a.aimg img {
    width: 70px;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    margin-right: 5px;
}

.product-info-title {
    background: url(../../images/home/bt.jpg) no-repeat scroll 0 bottom rgba(0,0,0,0);
    color: #1a3e71;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 2px;
    text-transform: uppercase;
    margin: 15px 0 15px 0;
}

.product-img{
	border:1px solid #cccccc;
}

.product-description h2{
	display:block;
	float:left;
	width:100%;
	font-weight:600;
}
.left-price{
	display:block;
	float:left;
	width:100%;
	margin-bottom:5px;
}

.left-price .sale-price{
	display:block;
	float:left;
	font-weight:600;
	font-size:14px;
}

.left-price .origin-price{
	display:block;
	float:left;
	padding-left:20px;
	font-size:12px;
        margin-top: 1px;
}

.orther-item .per-discount{
	display:block;
	float:left;
	width:100%;
}

.orther-item .per-discount span{
	display:block;
	float:left;
	width:40px;
	text-align:center;
	height:22px;
	line-height:22px;
	background-color:#c7382a;
	color:#ffffff;
	border-radius:2px;
	font-size:11px;
}

.orther-item .item-img{
	padding:0px 10px 0px 5px;
}

.orther-item .item-content{
	padding:0px 5px 0px 5px;
}

.product-detail .p_img{
	position:relative;
}
.product-detail .p_img .p_detail_sale{
	position:absolute;
	top: 10px;
	left: 25px;
	width:40px;
	height:22px;
	line-height: 22px;
	background-color:#c7382a;
	color:#ffffff;
	border-radius:2px;
	text-align:center;
	font-size:12px;
}

.product-detail .pd-choose-item {
    display: block;
    float:left;
    margin-bottom: 10px;
}

.product-detail .pd-choose-item .lbl {
    display: block;
    float:left;
	margin: 10px 5px 0px 0px;
}

.product-detail .pd-choose-item .val {
    display: block;
    float:left;
	margin-top:6px;
}

.product-detail .pd-choose-item .quantity-input {
    height: 30px;
    border: 1px solid #ddd;
    width: 80px;
    border-radius: 3px;
    padding: 0 10px;
    outline: 0;
    transition: .3s;
    text-align: center;
}

.product-detail .detail-price{
	display:block;
	float:left;
	width: 100%;
	border-top:1px dotted #cccccc;
	padding: 15px 0px 15px 0px;
}

.product-detail .cart{
	display:block;
	float:left;
	width: 100%;
	border-bottom:1px dotted #cccccc;
	padding-bottom:15px;
}

.detail-price .sale-price{
	display:block;
	float:left;
	font-weight:600;
	font-size:20px;
}

.detail-price .origin-price{
	display:block;
	float:left;
	padding-left:20px;
	font-size: 14px;
        margin-top: 4px;
}

.product-description .bnt-cart{
	background-color:#ff424e;
	color:#ffffff;
	border-radius:3px;
	width:150px;
	height:40px;
	line-height:40px;
	text-transform: uppercase;
	margin-left:20px;
}
.product-description .bnt-cart .fa{
	font-size:20px;
}
.share-wrap {
	position: relative;
    margin: 25px 0 0 0;
    display: block;
    margin-top: 30px;
    float: left;
}
.share-wrap a {
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    margin-left: 5px;
    font-size: 13px;
    color: #FFF;
}
a.facebook {
    border: 1px solid #3b5998;
    background-color: #3b5998;
}
a.google {
    border: 1px solid #ff5726;
    background-color: #ff4617;
}
a.twitter {
    border: 1px solid #1da1f2;
    background-color: #1da1f2;
}
.product-description .bnt-cart:hover{
	background-color:#fbb040;
}
.product-content{margin-bottom: 60px;}
