section#content {
    padding-top: 0px;
}

.steps-order-page {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    background: white;
}

.order-cart-block {
    margin-bottom: 30px;
    padding: 20px;
}

.order-cart-block .block-head .block-title,
.order-payment-type-block .block-head .block-title {
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #e62117;
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 15px;
}

.order-cart-block .block-head .block-title:before,
.order-payment-type-block .block-head .block-title:before {
    content: "";
    width: 110px;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #b11e22;
    position: absolute;
}

#cart-form-step1 {
    margin-bottom: 45px;
}

.order-cart-block .cart-tb {
    width: 100%;
    margin-bottom: 15px;
}

.order-cart-block .cart-tb tbody td,
.order-cart-block .cart-tb thead th {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.order-cart-block .cart-tb thead th {
    font-weight: 700;
    text-align: center;
    background: #efefef;
}

.product-item {
    text-align: left;
}

.order-cart-block .cart-tb tbody td.order {
    text-align: center;
}

.order-cart-block .cart-tb tbody td.product-info {
    vertical-align: top;
}

.order-cart-block .cart-tb tbody td.source {
    text-align: center;
}

.order-cart-block .cart-tb tbody td.tool {
    text-align: center;
}

.order-cart-block .cart-tb tbody td.product-info .img {
    float: left;
    width: 80px;
    text-align: center;
}

.order-cart-block .cart-tb tbody td.product-info .img img {
    max-width: 80px;
    max-height: 100px;
    border: 1px solid #eaeaea;
}

.order-cart-block .cart-tb tbody td.product-info .info-wrap,
.order-cart-block .cart-tb tbody td.product-info .text-wrap {
    padding-left: 95px;
}

.order-cart-block .cart-tb tbody td.product-info .info-wrap .title,
.order-cart-block .cart-tb tbody td.product-info .text-wrap .title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    font-weight: 700;
}

.order-cart-block .cart-tb tbody td.product-info .info-wrap .title a,
.order-cart-block .cart-tb tbody td.product-info .text-wrap .title a {
    display: block;
}

.order-cart-block .cart-tb tbody td.product-info .info-wrap p,
.order-cart-block .cart-tb tbody td.product-info .text-wrap p {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 18px;
}

.order-cart-block .cart-tb tbody td.product-price .price {
    text-align: center;
    color: #333333;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.order-cart-block .btn {
    text-transform: uppercase;
}

.order-cart-block .btn-success,
.product-detail-block .btn-success {
    color: #fff;
    background-color: #4cc3d9;
    border-color: #4cc3d9;
    background-image: url(../../images/home/bg-sidebar-head.png);
}

.order-cart-block .cart-tb tfoot td {
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-align: right;
}

.order-cart-block .btn-default,
.user-page .btn-default,
.product-detail-block .btn-default {
    border-radius: 3px;
    height: 35px;
    padding: 9px 13px;
    color: #ffffff;
    background-color: #81c242;
    background-image: url(../../images/home/bg-sidebar-head.png);
}

.order-cart-block .btn-danger,
.product-detail-block .btn-danger,
.product-detail-block .btn-primary,
.order-payment-type-block .btn-danger,
.user-page .btn-danger {
    background-image: url(../../images/home/bg-sidebar-head.png);
    border-radius: 3px;
    height: 35px;
    padding: 9px 13px;
}

.total-price {
    text-align: right;
    color: #e62117;
    font-weight: 600;
    font-size: 16px;
}

.profile-tb .row .col-md-6 {
    margin-bottom: 15px;
}

.order-profile-block .profile-tb .tb-head {
    padding: 15px;
    background: #efefef;
    font-weight: 500;
    border: 1px solid #ddd;
}

.order-profile-block .profile-tb .tb-body {
    padding: 15px;
    border: 1px solid #ddd;
    vertical-align: top;
    min-height: 360px;
}

.order-profile-block .profile-tb .tb-body .form-group-1 {
    margin-bottom: 15px;
}

.profile-tb .form-control-2 {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 2px;
}

.profile-tb .form-control-2.form-error {
    border: 1px solid red;
}

.profile-tb .form-control-2 .icon {
    float: left;
    width: 35px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #81c242;
    font-size: 17px;
}

.profile-tb .form-control-2 input,
.profile-tb .form-control-2 select {
    float: left;
    width: calc(100% - 40px);
    margin-left: 5px;
    height: 30px;
    border: 0;
    outline: 0;
    padding: 0;
}

.profile-tb .control-radio-1 {
    position: relative;
    display: block;
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 0;
}

.control-radio-1 .indicator {
    padding-left: 17px;
    position: relative;
    display: inline-block;
    text-transform: none;
}

.control-radio-1 input[type=checkbox]~.indicator::before {
    content: "\f096";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
}

.order-profile-block .profile-tb .tb-body {
    padding: 15px;
    border: 1px solid #ddd;
    vertical-align: top;
    min-height: 360px;
}

#cart-form-step2 .order-cart-block .block-foot {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

#cart-form-step2 .order-cart-block {
    margin-bottom: 0px;
}

.order-cart-block .block-foot {
    text-align: right;
    text-transform: uppercase;
}

#cart-form-step2 .order-cart-block .block-foot {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.control-radio-1 input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.order-payment-type-block .block-main {
    display: table;
    width: 100%;
    border: 1px solid #ddd;
}

.order-payment-type-block .col-1 {
    vertical-align: top;
    padding-bottom: 30px;
    padding-right: 0;
    z-index: 2;
}

.order-payment-type-block .pt-radio-control {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.order-payment-type-block .pt-radio-control .pt-rad {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.order-payment-type-block .pt-radio-control .pt-rad:checked+.indicator {
    background: #01b1af;
    color: #fff;
}

.order-payment-type-block .pt-radio-control .indicator {
    width: 100%;
    display: table;
    border-bottom: 1px solid #ddd;
    height: 100px;
    cursor: pointer;
}

.order-payment-type-block .pt-radio-control .pt-rad:checked+.indicator::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 30px;
    border-color: transparent transparent transparent #01b1af;
}

.order-payment-type-block .pt-radio-control .icon {
    display: table-cell;
    vertical-align: middle;
    width: 71px;
    text-align: center;
    background: url(../../images/home/bg-shadow-payment.png) center right no-repeat;
}

.order-payment-type-block .pt-radio-control .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    font-size: 12px;
    text-transform: none;
}

.order-payment-type-block .col-2 {
    padding-left: 0;
    border-left: 1px solid #ddd;
}

.order-payment-type-block .col-2 .col-main {
    padding: 20px 40px 0;
}

.order-payment-type-block .payment-type-wrap {
    display: none;
    padding-bottom: 10px;
}

.order-payment-type-block .payment-type-wrap .bank-radio-control,
.order-payment-type-block .payment-type-wrap .payment-radio-control {
    cursor: pointer;
}

.order-payment-type-block .col-2 .col-main {
    padding: 20px 40px 0;
}

.order-payment-type-block .col-2 .col-foot {
    padding: 0px 40px 90px;
}

.order-payment-type-block .payment-type-wrap .bank-radio-control input,
.order-payment-type-block .payment-type-wrap .payment-radio-control input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.order-payment-type-block .payment-type-wrap .bank-radio-control input:checked~.indicator,
.order-payment-type-block .payment-type-wrap .payment-radio-control input:checked~.indicator {
    border: 2px solid #ee282f;
}

.order-payment-type-block .payment-type-wrap .bank-radio-control .indicator,
.order-payment-type-block .payment-type-wrap .payment-radio-control .indicator {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    line-height: 32px;
    text-align: center;
    margin: 0 10px 10px 0;
    transition: .3s;
    display: block;
    float: left;
}

.order-payment-type-block .payment-type-wrap .bank-radio-control .title {
    display: inline-block;
    margin-top: 11px;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.order-payment-type-block .col-2 .pp-type-items-wrap {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.control-radio-1 input[type=checkbox]:checked~.indicator::before {
    content: "\f046";
}

.order-payment-type-block .col-2 .control-radio-1 .indicator::before {
    color: #b11e22;
}

.text-danger {
    color: #c81623;
}

.order-payment-type-block .block-foot {
    padding-top: 15px;
    text-align: right;
}

#cart-form-step3 .order-cart-block {
    margin-bottom: 0px;
}

.type-payment-form {
    padding: 0px 20px 20px 20px;
}

.ck-head {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
}

.ck-head .right {
    text-align: right;
    position: relative;
}

.ck-head .right .paid {
    position: absolute;
    top: -10px;
    left: 15px;
    display: block;
    width: 130px;
    height: 130px;
}

.ck-head p {
    margin-bottom: 7px;
}

.order-info p {
    margin-bottom: 7px;
}

.order-info h4 {
    font-size: 17px;
    font-weight: bold;
    color: #666;
    margin-bottom: 15px;
}

.order-info .top {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#cart-form-step4 .order-cart-block {
    margin-bottom: 0px;
}

#cart-form-step4 .view-info-product {
    padding-top: 0px;
}

.img-circle {
    margin-top: 5px;
}

.guide-text {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.checkout-logo {
    margin: 10px 0px;
}