.mgb-40 {
    margin-bottom: 40px;
}

.icon-services img {
    padding: 0 15px;
}

.text-green {
    color: #028910;
}

.text-lg {
    font-size: 2em !important;
    line-height: 2.5em;
}

.text-md {
    font-size: 1.0833em !important;
}

.btn-green {
    background-color: #028910 !important;
}

.btn-circle {
    border-radius: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 991px) {
    .icon-services img {
        max-width: 150px;
    }
    .icon-services img.next {
        max-width: 50px;
    }
    .text-md-right {
        text-align: right !important;
    }
}

@media (max-width: 768px) {
    .icon-services img {
        padding: 0 4px;
        max-width: 72px;
    }
    .icon-services img.next {
        max-width: 25px;
    }
    .text-md-right {
        text-align: right !important;
    }
    .col-form-label {
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.6;
    }
}

.icon {
    /* position: relative; */
    display: inline-block;
}


/* Effect 1b - Ring in */

.icon:hover {
    transform: scale(1.8);
}