#page-content{
	padding-top:0px;
	background-color: #eeeeee;
	position: relative;
	overflow: visible;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 400px;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

.text-danger {
	color: #cf4646;
}