.mgb-20 {
    margin-bottom: 20px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    background-color: #d8ecee;
    text-align: left;
    text-transform: uppercase;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    color: #472f92;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
}
#formQuote.form-horizontal label {
    text-align: left !important;
    color: #472f92;
    font-size: 12px;
    line-height: 1.42857143;
    padding-right: 0;
    font-weight: bold;
}
#formQuote.form-horizontal label span {
    color: red;
    text-indent: 2px;
}
.form-control {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #444444;
    font-size: 12px;
    outline:none;
}
.form-control:focus {
    border-color: #3c8dbc;
    box-shadow: none;
    outline:none;
}
.form-group img {
    cursor: pointer;
    height: 32px;
    width: 30px;
    vertical-align: top;
    float: left;
}
.form-group .link {
    padding-top: 5px;
}
.form-group .link  a{
    text-decoration: underline;
    color: #3fb4c1;
}
.form-group label.label-right {
    padding-left: 0;
    font-weight: bold;
}
.box-body p.note strong {
    color: #472f92;
}
.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    background-color: rgba(230, 230, 230, 0.24);
}
#result .callout {
    cursor: pointer;
}
.callout.callout-info {
    border-left: 5px solid #0097bc;
}
.callout.callout-info:hover {
    background-color: #00c0ef47;
}
