.user-block .block-head {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(242, 247, 248);
}
.user-block .block-title {
    font-size: 16px;
    font-weight: 600;
}
.user-block .block-main {
    padding-top: 20px;
}
.form-group.group-sm {
    height: 36px;
}
.form-group.is-col {
    margin-bottom: 15px;
    display: table;
    width: 100%;
    height: 40px;
}

.form-group.group-sm .lbl-col {
    padding-top: 8px;
}
.form-group .lbl-col {
    display: table-cell;
    text-align: right;
    width: 130px;
    vertical-align: top;
    padding: 10px 10px 0px 0px;
}
.form-group .info-col {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.user-block .form-group.is-col .form-control {
    width: 340px;
}

.user-block form .btn-wrap {
    width: 470px;
    text-align: right;
}