section#content{
    padding-top:0px;
    background-color: #eeeeee;
}

.user-page .user-profile-block, .history-order-block {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.user-profile-block .block-head, .history-order-block .block-head {
    padding: 10px 15px;
    background: #f4f5f6;
    border-bottom: 1px solid #ddd;
}

.user-profile-block .block-head .block-title, .history-order-block .block-head .block-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.3;
}
.user-profile-block .block-main, .history-order-block .block-main {
    padding: 20px 20px 5px;
}
.user-profile-block .user-forgot-form {
    width: 700px;
    margin: 0 auto;
}
.user-profile-block .user-forgot-form .group-item {
    display: table;
    margin-bottom: 15px;
}
.user-profile-block .user-forgot-form .lbl {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    text-align: right;
    font-size: 14px;
    line-height: 19px;
    padding: 0 15px 0 0;
}
.user-profile-block .user-forgot-form .input {
    display: table-cell;
    width: 500px;
    border: none;
}
.block-main {
    background: white;
}

.user-profile-block .user-forgot-form  .btn.btn-danger {
    color: #fff;
    background-color: #81c242;
    border-color: #81c242;
}

.user-profile-block .user-forgot-form  .btn {
    text-transform: uppercase;
    border-radius: 3px;
}