#page-content{
	padding-top:0px;
	background-color: #eeeeee;
	position: relative;
	overflow: visible;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 400px;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.sidebar-menu.fixed{
	height: 100%;
}
.sidebar-menu{
	width: 300px;
        padding-bottom: 50px;
	display: table-cell;
	position: relative;
	background: #2c2e2f;
	z-index: 1;
}
.sidebar-menu .main-menu{
	padding: 0px 20px;
}
#main-content .panel-body {
	padding: 1px;
}
#main-content .panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
}
#page-content #main-content{
	display: table-cell;
	position: relative;
	z-index: 1;
	padding: 15px;
	padding-bottom: 0;
	vertical-align: top;
	word-break: break-word;
	width: 100%;
	-webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	-o-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
}
.sidebar-menu.fixed .sidebar-menu-inner {
	left: 0;
	top: 0;
	bottom: 0;
	width: inherit;
	overflow: hidden;
}
.sidebar-menu .main-menu {
	padding-left: 0px;
	padding-right: 0px;
	list-style: none;
}
.sidebar-menu .main-menu a {
	color: #979898;
	text-decoration: none;
	display: block;
	padding: 13px 5px;
	border-bottom: 1px solid #313437;
}
.sidebar-menu .main-menu a:hover{
    color: #fff;
}
.sidebar-menu .main-menu .active a{
    color: #fff;
}
.sidebar-menu .main-menu a>i {
	display: inline-block;
	margin-right: 10px;
}
.sidebar-menu .main-menu a>span {
	display: inline-block;
}
.sidebar-menu .main-menu a>i+span {
	padding-right: 10px;
}
.sidebar-menu .box-left .box-head {
	color: #81c242;
	padding: 14px 20px 5px;
	font-size: 14px;
}
.sidebar-menu .main-menu ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
.sidebar-menu .main-menu ul {
	overflow: hidden;
}
.sidebar-menu .main-menu ul li {
	position: relative;
}
.sidebar-menu .main-menu ul li a {
	padding-left: 10px;
}
.sidebar-menu .box {
	margin-bottom: 0;
}
.text-danger {
	color: #cf4646;
}
#create-express  .panel-body .col-sm-6:first-child {
	padding-left: 15px !important;
	padding-right: 0px !important;
}
#create-express .panel-body .col-sm-6:last-child {
	 padding-left: 0px !important;
	 padding-right: 15px !important;
 }
#main-content .panel {
	border: 1px solid #ddd;
}
#package-info label {
	font-size: 12px;
}
table tbody tr.no-border-top >td {
	border-top: none;
}
td p.note {
	margin-bottom: 0;
}
.panel-title {
	font-size: 15px;
    background-color: #eee;
    padding: 15px;
}
#package-info, #service {
	padding-bottom: 0;
	border-top: 1px solid #ddd;
}
#package-info .panel-body, #service .panel-body {
	padding-top: 0;
}
.panel .panel-heading {
    font-size: 16px;
    font-weight: 600;
}
#main-content .user .panel-body {
	padding: 15px;
}
.user .btn-xs, .btn-group-xs>.btn{
    height: auto;
}

@media screen and (max-width: 991px){
	.sidebar-menu .main-menu>li>a>span {
		display: none;
	}
	.sidebar-menu .main-menu {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-menu .sidebar-menu-inner {
		overflow: visible;
		position: relative;
	}
	.sidebar-menu {
		width: 60px;
		z-index: 10;
		overflow: visible;
	}
	.sidebar-menu .main-menu>li {
		text-align: center;
		position: relative;
	}
	.sidebar-menu .main-menu>li>ul {
		position: absolute;
		background: #2c2e2f;
		width: 250px;
		top: 0;
		left: 100%;
		text-align: left;
	}
	.box-head {
		display: none;
	}
}
.products-dropdown .dropdown-menu {
    min-width: 550px;
    border: 1px solid #555;
    padding: 0;
    margin: 0;
    max-height: 191px;
    overflow-y: auto;
}
.products-dropdown .table {
    margin-bottom: 0;
}
.products-dropdown .table tbody tr.hover {
    cursor: pointer;
    background-color: #2c2e2f;
    color: #fff;
}
.products-dropdown .table tbody tr td {
    padding: 4px;
}

.transport-content{
    display: block;
    width: 100%;
    padding: 15px;
}

.transport-content-title{
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.transport-content-shipping{
    border: 1px solid #eee;
}

.transport-content-sender{
    width: 50%;
    border-right: 1px solid #eee !important;
    padding: 15px !important;
}

.transport-content-receiver{
    width: 50%;
    padding: 15px !important;
}
.transport-content-shipping tbody>tr>td{
    border: none;
    padding: 5px;
}

.transport-content-shipping tbody>tr>td>table{
    margin-bottom: 2px;
}
.transport-content-package-title{
    display: block;
    float: left;
    width: 100%;
    background-color: #eee;
    margin-bottom: 0px;
    padding: 15px;
}

.transport-content .tab-content{
    border-right: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.transport-content-package{
    margin-bottom: 20px;
}

.quote-eshipper-list table{
    border: 1px solid #eee;
}
.quote-shipping-result{
    display: block;
    float: left;
    width: 100%;
    padding: 15px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.quote-shipping-result table{
    border: 1px solid #d1d3d4;
    background-color: #fbfbfb;
}

.quote-eshipper-list label{
    font-size: 13px;
}

.claim-content{
    background-color: #f2f7e2;
    padding: 15px;
    width: 100%;
    float: left;
}

.claim-content h2{
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
}

.claim-content span{
    display: block;
    float: left;
    width: 100%;
}

.claim-content span .order-code{
    color: #40bbea;
}

.claim-body{
    font-weight: normal;
}

.claim-conversation{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px;
    float: left;
    width: 100%;
}
.no-padding-left{
    padding-left: 0px;
}
.customer-conversation , .user-conversation{
    margin-bottom: 15px;
}
.user-conversation{
    display: block;
    width: 100%;
    background-color: #eaf8f9;
    padding: 15px;
    border-radius: 5px;
}

.user-conversation label{
    display: block;
    width: 100%;
    float: left;
}

.claim-conversation-user{
    color: #40bbea;
    padding-right: 20px;
}
.customer-conversation{
    display: block;
    width: 100%;
    background-color: #fcf0f4;
    padding: 15px;
    border-radius: 5px;
}
.claim-conversation-user, .claim-conversation-time{
    font-size: 12px;
}

.claim-conversation-form{
    display: block;
    width: 100%;
    float: left;
}

.claim-conversation-form textarea{
    display: block;
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.claim-conversation-form button{
    float: right;
}

.customer-conversation label{
    display: block;
    width: 100%;
    float: left;
}
.badge.badge-default{background-color:#777}
.badge.badge-red,.badge.badge-danger{background-color:#cc3f44}
.badge.badge-blue,.badge.badge-info{background-color:#40bbea}
.badge.badge-yellow,.badge.badge-warning{background-color:#ffba00}
.badge.badge-green,.badge.badge-success{background-color:#8dc63f}
.badge.badge-primary{background-color:#2c2e2f}
.time-option{
    display: block;
    width: 70px;
    float: left;
    margin-right: 10px
}
.user-info-menu-left{
    display: block;
    float: left;
    width: 100%;
    color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #313437;
    background-color: #000;
    margin-bottom: 15px;
}

.user-info-menu-left h3{
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    
}
.user-info-notification{
    display: block;
    float: left;
    width: 100%;
    color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #313437;
    background-color: #000;
    margin-bottom: 15px;
}
.user-info-notification h3{
    display: inline-block;
    float: left;
    color: #ccc;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}

.convert-point{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #969696;
}











