/**
 *
 * Apply your custom CSS here
 *
*/


/*body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}*/

.sidebar-menu {
    width: 245px;
}

.sidebar-menu .main-menu ul {
    overflow: hidden;
}

.sidebar-menu .main-menu {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar-menu .main-menu ul li a {
    padding-left: 30px;
}

.login-page {
    padding-top: 50px;
}

.table-languages tr td a {
    padding-right: 15px;
}

.page-header {
    margin-top: 0;
}

.panel .panel-body {
    color: #000;
}

.table tr td .modal {
    white-space: normal;
}

.form-control input[type=checkbox].iswitch {
    margin: -2px 0 0;
}

.data-hide {
    color: #979898;
}

form .form-group.validate-has-error .form-control {
    color: #555;
}

ul.menu-manage li {
    line-height: 11px;
}

ul.menu-manage li table {
    margin-top: 0;
}

ul.menu-manage li table tr td {
    padding: 5px 15px 5px 0;
}

ul.menu-manage li table tr:hover,
ul.menu-manage li table tr:focus {
    background-color: #cdcdcd;
    font-weight: 700;
    cursor: pointer;
}

ul.menu-manage li table tr i:hover,
ul.menu-manage li table tr i:focus {
    color: #555;
}

.tabs-border .nav-tabs {
    position: relative;
    bottom: -1px;
}

.tabs-border .nav-tabs li a {
    background-color: #eee !important;
    border: 1px solid #ccc !important;
}

.tabs-border .nav-tabs li.active a {
    background-color: #fff !important;
    border-bottom-color: #fff !important;
}

.tabs-border .tab-content {
    border: 1px solid #ccc !important;
}

.paginate-single {
    text-align: right;
}

.paginate-single .pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.img-control,
.img-control1,
.img-control-vi,
.img-control-en {
    display: block;
    position: relative;
    width: 100%;
}

.img-control .img-preview,
.img-control1 .img-preview,
.img-control-vi .img-preview,
.img-control-en .img-preview {
    /* width: 140px; */
    margin-bottom: 5px;
}

.img-control .img-preview img,
.img-control1 .img-preview img,
.img-control-vi .img-preview img,
.img-control-en .img-preview img {
    min-width: 140px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.img-control .img-preview h4,
.img-control1 .img-preview h4,
.img-control-vi .img-preview h4,
.img-control-en .img-preview h4 {
    position: absolute;
    top: -15px;
    left: 130px;
    cursor: pointer;
}

.img-control .fa-spin,
.img-control1 .fa-spin,
img-control-vi .fa-spin,
img-control-en .fa-spin {
    position: absolute;
    top: 10px;
    right: 8px;
}

.input-group.validate-has-error .form-control,
.input-group.validate-has-error .input-group-btn .btn {
    border-color: #cc3f44;
}

.input-group.validate-has-error+span {
    color: #cc3f44;
}

.form-control.validate-has-error+span,
.input-group.validate-has-error+span {
    display: block;
    margin-top: 2px;
}

.ui-datepicker {
    z-index: 99999 !important;
}

.form-control[readonly] {
    cursor: auto;
    background-color: #fff;
}

table thead tr th {
    vertical-align: middle !important;
}

form.form-inline .form-group+.form-group {
    margin-left: 0;
}

form.form-inline .form-group .btn {
    margin-top: -1px;
}

.btn+.btn {
    margin-left: 0;
}

.form-control label.cbr-inline {
    padding-top: 0;
}

.font-lg {
    font-size: 120%;
}

.table-form {
    margin-bottom: 0;
}

.table-form>tbody>tr>td.col-label {
    text-align: right;
    padding-top: 10px;
}

.table-form>thead>tr>th,
.table-form>tbody>tr>td {
    padding: 4px;
    border: none;
}

.has-error {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}

.col-middle {
    vertical-align: middle !important;
}

.table-container thead tr th,
.table-container tbody tr td {
    padding: 5px;
}

.table-container tbody tr td .input-readonly {
    border-color: #fff;
    padding: 1px;
}

.products-dropdown {
    position: absolute;
}

.products-dropdown .dropdown-menu {
    min-width: 650px;
    border: 1px solid #555;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-y: auto;
}

.products-dropdown .table {
    margin-bottom: 0;
}

.products-dropdown .table tbody tr.hover {
    cursor: pointer;
    background-color: #2c2e2f;
    color: #fff;
}

.products-dropdown .table tbody tr td {
    padding: 4px;
}

.nav.nav-tabs+.tab-content {
    padding: 15px 0px;
}

.bottom-group-form-left label {
    display: block;
    float: left;
    margin: 5px 10px 0pc 0px;
}

.bottom-group-form-left select {
    display: block;
    float: left;
    width: 190px;
}

@media screen and (max-width: 768px) {
    .login-page {
        padding-top: 0;
    }
    .table-languages {
        margin-bottom: 15px;
    }
}

.claim-content {
    background-color: #f2f7e2;
    padding: 15px;
    width: 100%;
    float: left;
}

.claim-content h2 {
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
}

.claim-content span {
    display: block;
    float: left;
    width: 100%;
}

.claim-content span .order-code {
    color: #40bbea;
}

.claim-body {
    font-weight: normal;
}

.claim-conversation {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px;
    float: left;
    width: 100%;
}

.no-padding-left {
    padding-left: 0px;
}

.customer-conversation,
.user-conversation {
    margin-bottom: 15px;
}

.user-conversation {
    display: block;
    width: 100%;
    background-color: #eaf8f9;
    padding: 15px;
    border-radius: 5px;
}

.user-conversation label {
    display: block;
    width: 100%;
    float: left;
}

.claim-conversation-user {
    color: #40bbea;
    padding-right: 20px;
}

.customer-conversation {
    display: block;
    width: 100%;
    background-color: #fcf0f4;
    padding: 15px;
    border-radius: 5px;
}

.claim-conversation-user,
.claim-conversation-time {
    font-size: 12px;
}

.claim-conversation-form {
    display: block;
    width: 100%;
    float: left;
}

.claim-conversation-form textarea {
    display: block;
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.claim-conversation-form button {
    float: right;
}

.customer-conversation label {
    display: block;
    width: 100%;
    float: left;
}

.time-option {
    display: block;
    width: 70px;
    float: left;
    margin-right: 10px
}

.form-group-1.btn-wrap {
    padding-top: 10px;
    margin-bottom: 15px;
}

.line-height-40px {
    line-height: 40px;
    color: #81c242;
}

.login-with-wrap {
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

.text-1 {
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #ddd;
}

.login-with-wrap a {
    margin-left: 15px;
}

.text-1 a {
    color: #81c242;
}

.form-error input,
.form-error select {
    border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    color: #2d3e52;
}

.modal-body {
    color: #333;
}

#table_transport {
    height: 400px;
}

.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-wrapper {
    position: relative;
}

.zui-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 300px;
}

.zui-table .zui-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table-hover>tbody>tr:hover {
    color: black;
}

.btn-clear {
    transform: translateX(-5px);
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .border-left {
    border-left: 1px solid grey !important;
  }
  .border-primary {
    border-color: 1px solid #007bff !important;
  }

  .border-secondary {
    border-style: solid;
    border-color: #6c757d !important;
  }

  .border-success {
    border-style: solid;
    border-color: green;
  }

  .border-info {
    border-style: solid;
    border-color: #17a2b8 !important;
  }

  .border-warning {
    border-style: solid;
    border-color: #ffc107 !important;
  }

  .border-danger {
    border-style: solid;
    border-color: #dc3545 !important;
  }

  .border-light {
    border-style: solid;
    border-color: #f8f9fa !important;
  }

  .border-dark {
    border-style: solid;
    border-color: #343a40 !important;
  }

  .border-white {
    border-style: solid;
    border-color: #fff !important;
  }
.padding-0
{
    padding: 0 !important;
}
