
.main-content .panel-body {
    padding: 10px 15px;
}
.text-danger {
    color: #cf4646;
}
#edit-express .panel-body .col-sm-6:first-child {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#edit-express  .panel-body .col-sm-6:last-child{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#edit-express  .panel-body .col-sm-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#package-info label {
    font-size: 12px;
}
table tbody tr.no-border-top >td {
    border-top: none;
}
td p.note {
    margin-bottom: 0;
}
.panel-title {
    font-size: 15px;
}
#package-info, #service {
    padding: 15px;
    border-top: 1px solid #ddd;
}
#package-info .panel-heading, #service .panel-heading{
    margin-top: -20px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 20px 20px;
    border-bottom: 0;

}
p.note strong{
    font-size: 15px;
    margin-bottom: 14px;
}
.table-form td h3 {
  margin-top: 0;padding-bottom: 15px;border-bottom: 1px solid #cccccc;
}
#package-info .panel-body, #service .panel-body {
    padding-top: 0;
}
.panel .panel-heading {
    font-size: 16px;
    font-weight: 600;
}
#main-content .user .panel-body {
    padding: 15px;
}
.user .btn-xs, .btn-group-xs>.btn{
    height: auto;
}
.table-responsive {
    margin-top: 15px;
}
.table-responsive table tr td, .table-responsive table tr th{
    border: 1px solid #cccccc;
    padding: 8px;
}
.consignee-account-item{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.consignee-account-item-title{
    display: block;
    float: left;
    width: 40%;
}
.consignee-account-item-content{
    display: block;
    float: left;
    width: 60%;
}

@media screen and (max-width: 991px){

}






















