#page-content{
	padding-top:0px;
	background-color: #eeeeee;
	position: relative;
	overflow: visible;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 400px;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
#main-content .panel-body {
	padding: 0;
}
#page-content #main-content{
	display: table-cell;
	position: relative;
	z-index: 1;
	padding: 15px;
	padding-bottom: 0;
	vertical-align: top;
	word-break: break-word;
	width: 100%;
	-webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	-o-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
}
.text-danger {
	color: #cf4646;
}
#package-info label {
	font-size: 12px;
}
table tbody tr.no-border-top >td {
	border-top: none;
}
td p.note {
	margin-bottom: 0;
}
.panel-title {
	font-size: 15px;
}
#package-info, #service {
	padding-bottom: 0;
	border-top: 1px solid #ddd;
}
#package-info .panel-body, #service .panel-body {
	padding-top: 0;
}
.panel .panel-heading {
    font-size: 16px;
    font-weight: 600;
}
#main-content .user .panel-body {
	padding: 15px;
}
.user .btn-xs, .btn-group-xs>.btn{
    height: auto;
}

@media screen and (max-width: 991px){
	.sidebar-menu .main-menu>li>a>span {
		display: none;
	}
	.sidebar-menu .main-menu {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-menu .sidebar-menu-inner {
		overflow: visible;
		position: relative;
	}
	.sidebar-menu {
		width: 60px;
		z-index: 10;
		overflow: visible;
	}
	.sidebar-menu .main-menu>li {
		text-align: center;
		position: relative;
	}
	.sidebar-menu .main-menu>li>ul {
		position: absolute;
		background: #2c2e2f;
		width: 250px;
		top: 0;
		left: 100%;
		text-align: left;
	}
	.box-head {
		display: none;
	}
}
.products-dropdown .dropdown-menu {
    min-width: 550px;
    border: 1px solid #555;
    padding: 0;
    margin: 0;
    max-height: 191px;
    overflow-y: auto;
}
.products-dropdown .table {
    margin-bottom: 0;
}
.products-dropdown .table tbody tr.hover {
    cursor: pointer;
    background-color: #2c2e2f;
    color: #fff;
}
.products-dropdown .table tbody tr td {
    padding: 4px;
}

.transport-content{
    display: block;
    width: 100%;
    padding: 15px;
}

.transport-content-title{
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.transport-content-shipping{
    border: 1px solid #eee;
}

.transport-content-sender{
    width: 50%;
    border-right: 1px solid #eee !important;
    padding: 15px !important;
}

.transport-content-receiver{
    width: 50%;
    padding: 15px !important;
}
.transport-content-shipping tbody>tr>td{
    border: none;
    padding: 5px;
}

.transport-content-shipping tbody>tr>td>table{
    margin-bottom: 2px;
}
.transport-content-package-title{
    display: block;
    float: left;
    width: 100%;
    background-color: #eee;
    margin-bottom: 0px;
    padding: 15px;
}

.transport-content .tab-content{
    border-right: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.quote-eshipper-list table{
    border: 1px solid #eee;
}
.quote-shipping-result{
    display: block;
    float: left;
    width: 100%;
    padding: 15px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.quote-shipping-result table{
    border: 1px solid #d1d3d4;
    background-color: #fbfbfb;
}

.quote-eshipper-list label{
    font-size: 13px;
    float: left;
    padding-left: 15px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.panel .panel-body{
    padding-top: 0px;
}

.nav.nav-tabs+.tab-content{
    margin-bottom: 0px;
}


















